body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 200;
}
a:hover {
    text-decoration: underline;
	color: #FFBE0D;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 200;


}
h1 {
    font-size: 4em;
    font-family: 'Playball', cursive;
	line-height: 0.3em;
}
h2 {
	font-size: 1.7em;
    font-family: 'Raleway', sans-serif;
	line-height: 1.2em;
	font-weight: 650
}
p {
	font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .95em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 200;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

q {
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333;
}

hr {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	color: #FFBE0D;
	background-color: #FFBE0D;
	border: 0 none;
}

input {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	color: #FFFF;
}

input:hover {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	color: #FFFF;
	background-color: #FFBE0D;
}

label {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	color: #FFFF;
}

	#maintitle {
	color: #FFFF;
	text-shadow: #747474 4px 4px 4px;
}


