---
title: Fueled by Faith Blogs
layout: default
---

	<h1 style="text-align: center;">{{ page.title }}</h1>
	<hr />
	<h2 style="text-align: center; line-height: 0px"><em>Blog Posts</em></h2>
<p style="text-align: center;">Click the title for the full post!</p>
	<ul class="posts">

		 {% for post in site.posts %}
	    <li><font size="6"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></font>
		    <p style="line-height: 0px"><font size="3"><!--<span>-->{{ post.date | date_to_string }}<!--</span>--><font></p>
			<i><font size="1">{{ post.excerpt }}</font></i>
		    
		    <hr>
		</li>
	  {% endfor %}
</ul>
	<!-- FOR BACKUP
{% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
-->
