
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Playball|Raleway|Roboto+Condensed" rel="stylesheet"> 
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/blog">Blog</a></li>
					<li><a href="/about">About</a></li>
	        		<li><a href="/testimony">Testimony</a></li>
					<li><a href="/resources">Resources</a></li>
					
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<hr>
			<h2 style="text-align: center;"><em>&#10077; Perfect God &mdash;Perfect Plan &mdash;Poor coding &#10078;</em></h2>
			<footer>
	    		<ul>
					<li><a>&copy; 2017 Fueled By Faith - All Rights Reserved</a></li>
	        		<li><a href="/contact">Contact Us</a></li>
	        		<li><a href="https://github.com/mooer112233">GitHub.com/mooer112233</a></li>
				</ul>
			</footer>
		</body>
	</html>
